{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}

<div class="container">
    <div class="row mb-2">
        <div class="col-md-8"><img src = "/pix/tumbuhdanlogoTriputraGroup_2048x512.png" width="300"></div>

        <div class="d-flex align-items-center font-weight-bolder">
            <h1>DAFTAR MENU</h1>
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-md-2">
            <div class="card">
                <div class="card-header text-center bg-info">
                    <h5 class="text-white font-weight-bolder">{{title1}}</h5>
                </div>
                <div class="card-body">
                        <div class="page-header-image mr-2">
                        </div>
                </div>
            </div>
        </div> -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center bg-info">
                    <h5 class="text-white font-weight-bolder">{{title2}}</h5>
                </div>
                <div class="card-body">
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-6 text-center">
                            <a href="/my" class="btn btn-primary"><img src="/local/tpdashboard/pix/daftartraining.png" width="300" style="border:0 none"></a>
                        </div>    
                        <div class="col-md-6 text-center">
                            <a href="/local/tpdashboard/trainingdashboard.php" class="btn btn-primary"><img src="/local/tpdashboard/pix/dashboard.png" width="300"></a>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-6 text-center">
                            <a href="/my" class="btn btn-primary"><img src="/local/tpdashboard/pix/elearning.png" width="300" ></a>
                        </div>    
                        <div class="col-md-6 text-center">
                            <a href="/local/tpdashboard/tentangtrec.php" class="btn btn-primary"><img src="/local/tpdashboard/pix/tentangtrec.png" width="300" ></a>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-12 text-center">
                            <a href="/calendar/view.php?view=month" class="btn btn-primary"><img src="/local/tpdashboard/pix/kalender.png" width="300" ></a>
                        </div>
                    </div>    
                
               </div>
            </div>
        </div>
        <!-- <div class="col-md-2">
            <div class="card">
                <div class="card-header text-center bg-info">
                    <h5 class="text-white font-weight-bolder"></h5>
                </div>
                <div class="card-body">
                        <div class="page-header-image mr-2">
                        </div>
                </div>
            </div>
        </div> -->
   </div>
</div>
